extends layout

block content
  header
    h1 Hipstafy
    p how to be hipsta-licious
  p Write a sentence or two, and we'll hipstafy it for you!
  form#container(action="/foo/bar" method="post")
    input(type='textarea', name="userinput")
    input(type="submit")
  
